.git
.lovable
.tanstack
.vinxi
.nitro
.output
.wrangler
node_modules
dist
dist-ssr
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.local
.dev.vars
.vscode
.idea
.DS_Store
